:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 3px;
  height: 40px;
  background: var(--accent-color);
  border-radius: 7px;
  flex-grow: 1;
}

div.input-wrapper {
  flex-grow: 1;
}

div.input-wrapper input {
  width: 100%;
  font-family: inherit;
  font-size: 100%;
  border: none;
  outline: none;
  height: 34px;
  line-height: 40px;
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 16px;
}
