:host {
  justify-content: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  cursor: pointer;
  padding: 0 10px;
}

.action-button-title-wrapper {
  line-height: 15px;
  font-size: 12px;
  transition: color .3s;
  color: #666;
  white-space: nowrap;
  letter-spacing: .25px;
  font-weight: 400;
}
