:host {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 240px;
  padding: 10px;
  box-sizing: border-box;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  background-color: #f1f1f1;
  border: 0;
}
