:root {
  --no-accent-color: #efefef;
  --no-accent-color-hover: #e1e1e1;
  --accent-color: #ffcc00;
  --accent-color-hover: #efbd00;
  --transparent-color: rgba(0, 0, 0, 0);
  --transparent-color-hover: rgba(0, 0, 0, 0);
}
