<app-section>
  <app-content class="category-page-header">
    <h1>{{categoryTitle}}</h1>
  </app-content>
</app-section>
<app-section>
  <app-content class="category-page-content">
    <div class="left-sidebar">
      <app-product-filters [productFilterValues]="categoryPageService.$productFiltersValues | async"
                           [productFilterRepresentations]="(categoryPageService.$productFiltersRepresentations | async)"
                           (onChange)="onFilterChangeEvent($event)"></app-product-filters>
    </div>
    <div id="pagination-and-product-wrapper" class="content">
      <app-pagination [userShowMore]="false"
                      [totalPages]="paginationService.totalPages | async"
                      [currentPage]="paginationService.getCurrentPage()"
                      (onChangePageEvent)="onChangePageEvent($event)"
                      style="margin-left: -20px;"
      ></app-pagination>
      <app-product-filter-tags [productFilterValues]="categoryPageService.$productFiltersValues | async"
                               [productFilterRepresentations]="(categoryPageService.$productFiltersRepresentations | async)"
      ></app-product-filter-tags>
      <div class="products-grid">
        <ng-container *ngFor="let product of (categoryPageService.$products | async)">
          <div class="product-grid-item-wrapper">
            <app-product-item
              [product]="product"
              [isFavorite]="favouritesProductsService.isFavorite(product.id)"
              (favoriteButtonClickEvent)="onFavoriteButtonClickEvent($event, product.id)"
            ></app-product-item>
          </div>
        </ng-container>
      </div>
      <app-pagination [userShowMore]="false"
                      [totalPages]="paginationService.totalPages | async"
                      [currentPage]="paginationService.getCurrentPage()"
                      (onChangePageEvent)="onChangePageEvent($event)"
                      style="margin-left: -20px;"
      ></app-pagination>
    </div>
    <div class="right-sidebar">
      <div class="sidebar-content-mock"></div>
    </div>
  </app-content>
</app-section>


