<app-section>
  <app-content class="category-page-header">
    <h1>{{categoryTitle}}</h1>
  </app-content>
</app-section>
<app-section>
  <app-content class="category-page-content">
    <div class="left-sidebar">
      <app-product-filters [productFilterValues]="categoryPageService.$productFiltersValues | async"
                           [productFilterRepresentations]="(categoryPageService.$productFiltersRepresentations | async)"
                           (onChange)="onFilterChangeEvent($event)"></app-product-filters>
    </div>
    <div class="content">
      <div class="products-grid">
        <ng-container *ngFor="let product of (categoryPageService.$products | async)">
          <div class="product-grid-item-wrapper">
            <app-product-grid-item [product]="product"></app-product-grid-item>
          </div>
        </ng-container>
      </div>
      <app-pagination [totalPages]="10" [currentPage]="100"></app-pagination>
    </div>
    <div class="right-sidebar">
      2
    </div>
  </app-content>
</app-section>


