<fieldset>
  <div style="display: none">
    {{productFilterValue | json}} of
    {{productFilterRepresentation?.availableValues | json}}
  </div>
  <legend class="product-filter-item-name">{{productFilterRepresentation?.label}} {{productFilterRepresentation?.unit ? '(' + productFilterRepresentation?.unit + ')' : ''}}</legend>
  <ng-container [ngSwitch]="productFilterRepresentation.type">

    <ng-container *ngSwitchCase="'RANGE'">
      <div class="product-filters-item-values-wrapper numeric">
        <input #min type="number" [value]="productFilterValue?.min" [placeholder]="getMinPlaceholder(productFilterRepresentation?.availableValues, productFilterRepresentation?.unit)" (change)="onRangeChange(min.value, max.value, productFilterRepresentation)">
        <input #max type="number" [value]="productFilterValue?.max" [placeholder]="getMaxPlaceholder(productFilterRepresentation?.availableValues, productFilterRepresentation?.unit)" (change)="onRangeChange(min.value, max.value, productFilterRepresentation)">
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'MULTI_SELECT'">
      <div class="product-filters-item-values-wrapper entity">
        <ng-container *ngFor="let availableValue of productFilterRepresentation?.availableValues; trackBy: trackById.bind(this, productFilterRepresentation.idField)">
          <label class="product-filters-item-value">
            <span>{{availableValue.name}}</span>
            <input #checkbox type="checkbox" [checked]="productFilterValue?.includes(availableValue[productFilterRepresentation.idField])" class="checkbox-input" (change)="onMultySelectChange(checkbox.checked, productFilterRepresentation, availableValue)">
          </label>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'SINGLE_SELECT'">
      <div class="product-filters-item-values-wrapper entity">
        <label class="product-filters-item-value">
          <span>Не важно</span>
          <input #checkbox type="radio" [checked]="productFilterValue == null" [name]="productFilterRepresentation.label" class="checkbox-input" (change)="onSingleSelectChange(checkbox.checked, productFilterRepresentation, null)">
        </label>
        <ng-container *ngFor="let availableValue of productFilterRepresentation?.availableValues;">
          <label class="product-filters-item-value">
            <span>{{availableValue.name}}</span>
            <input #checkbox type="radio" [checked]="productFilterValue == availableValue[productFilterRepresentation.idField]" [name]="productFilterRepresentation.label" class="checkbox-input" (change)="onSingleSelectChange(checkbox.checked, productFilterRepresentation, availableValue)">
          </label>
        </ng-container>
      </div>
    </ng-container>

  </ng-container>
</fieldset>
