div.product-filters-item-values-wrapper {
  max-height: 250px;
  overflow: auto;
}

div.product-filters-item-values-wrapper.entity {
  display: flex;
  flex-direction: column;
}

div.product-filters-item-values-wrapper.numeric {
  display: grid;
  grid-gap: 10px;
}

div.product-filters-item-values-wrapper.numeric input[type=number] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 10px 12px 10px 30px;
  border-radius: 5px;
  border: 3px solid var(--accent-color);
}

label.product-filters-item-value {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 30px;
  align-items: center;
  font-size: 14px;
  color: #21201f;
  flex-shrink: 0;
  border-radius: 3px;
}

label.product-filters-item-value:hover {
  background-color: #f1f1f1;
}

label.product-filter-item-name {
  font: .8em YS Text,Arial,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-stretch: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #212121;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

label.product-filters-item-value input[type=checkbox] {
  margin: 3px 10px 3px 8px;
  transform: scale(1.2) translate(0px, 0px);
}

label.product-filters-item-value span {
  margin-top: 1px;
}

label.product-filters-item-value input[type=radio] {
  margin: 3px 10px 3px 8px;
  transform: scale(1.2) translate(0px, 0px);
}
