<div class="product-collection-header">
  <h2>Заголовок коллекции</h2>
  <span>Смотреть все</span>
</div>
<div class="product-collection-content">
  <ul class="horizontal-scroll">
    <li>
      <app-product-item></app-product-item>
    </li>
    <li>
      <app-product-item></app-product-item>
    </li>
    <li>
      <app-product-item></app-product-item>
    </li>
    <li>
      <app-product-item></app-product-item>
    </li>
    <li>
      <app-product-item></app-product-item>
    </li>
    <li>
      <app-product-item></app-product-item>
    </li>
    <li>
      <app-product-item></app-product-item>
    </li>
    <li>
      <app-product-item></app-product-item>
    </li>
    <li>
      <app-product-item></app-product-item>
    </li>
    <li>
      <app-product-item></app-product-item>
    </li>
  </ul>
</div>
