<div class="image-wrapper">
  <div class="image-replacer" [ngStyle]="{'background-image': 'url(' + '/api/images/A/' + product.image + ')'}"></div>
</div>
<br>
<div class="cost-wrapper">
  <span class="main-cost">{{(product.price).toLocaleString('ru')}}
    <small>₽</small>
  </span>
  <span class="old-cost">{{(product.price * 1.3).toLocaleString('ru')}}
    <small data-auto="currency" data-tid="73498f53 5660596c">₽</small>
  </span>
</div>
<div class="rating-wrapper">
  <span class="rating-star"></span>
</div>
<div class="name-wrapper">
  <span class="name">{{product?.description?.name}}</span>
</div>
<br>
<div class="button-wrapper">
  <app-accent-button></app-accent-button>
</div>
<div class="fav-button-wrapper"></div>
