<div class="column-categories parent-categories">
  <ul>
    <li class="parent-categories-item" *ngFor="let category of $categoriesTree | async" (mouseenter)="$selectedParentCategory.next(category)">
      <img src="//avatars.mds.yandex.net/get-marketcms/879900/img-8ec726e4-0b72-444b-a1d0-284c9cb95989.svg/svg" alt="">
      <a class="category-name">{{category.name}}</a>
    </li>
  </ul>
</div>
<div class="column-categories child-categories">
  <h1>{{($selectedParentCategory | async)?.name}}</h1>
  <ul class="child-categories-grid">
    <li class="child-categories-item" *ngFor="let childCategory of ($selectedParentCategory | async)?.categories" (mouseenter)="$selectedChildCategory.next(childCategory)">
      <a class="category-name">{{childCategory.name}}</a>
      <div class="child-categories-item-image"></div>
    </li>
  </ul>
</div>
<div class="column-categories sub-child-categories">
  <ul class="child-categories-grid">
    <li *ngFor="let subChildCategory of ($selectedChildCategory | async)?.categories">
      <a class="category-name">{{subChildCategory.name}}</a>
    </li>
  </ul>
</div>
